@import "styles/scrollbar";
@import "styles/colors";
@import "styles/shadows";

.list {
  @include scrollbar($color-border, 60px, 8px);
  @include shadowBlock();

  height: 450px;
  overflow-y: auto;

  padding: 5px;
  border: 2px solid $color-border;
  border-radius: 5px;

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.empty {
  height: 450px;
  display: flex;
  align-items: center;
  overflow-y: visible;

  &__svg {
    height: 100%;
    flex: 0 0 35%;
    fill: $color-background-svg;
    color: $color-background-svg;
  }

  &__text {
    text-transform: uppercase;
    color: $color-font;
    font-size: 32px;
  }
}