@import "styles/colors";

.list {
  & > li:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: initial;
    color: $font-primary-darker;
    margin-bottom: 10px;
  }

  &__item {
    padding: 2px 0 !important;

    & span {
      font-size: 14px;
    }
  }
}
