$color-White: #fff;
$color-Black: #000;

//Текст "первичный"
$font-primary-light: #3548c1; // Для
$font-primary: #3d5afe; //Для контента
$font-primary-darker: #2a3eb1; //Для заголовка
//Текст "Вторичный"
$font-Secondary-light: #ece9ff;
$font-Secondary: #bfc9ff;
$font-Secondary-darker: #7986cb;

//Тени для блока (НЕ МОДАЛКИ, ТУЛТИПА ПО ВЕРХ КОНТЕНТА)
$shadow-block-light: #42a5f5;
$shadow-block: #7c88cc;
$shadow-block-hover: #5c6bc0;
$shadow-block-focus: #404a86;

//Границы
$color-border-hover: #4f64d0;
$color-border: #2a3eb1;
$color-border-active: #0d25b7;

//Фон картинки
$color-background-svg-light: #5061c1;
$color-background-svg: $font-primary-light;
$color-background-svg-darker: #3548CF;

//Фон
$color-background-lighter: #dbeeff;
$color-background-light: #bbdefb;
$color-background: #42a5f5;
$color-background-darker: #1e88e5;

//Текст ссылок
$font-link-light: #b3e5fc;
$font-link: #03a9f4;
$font-link-darker: #0277bd;
//Тень ссылок
$shadow-link: #e3f2fd;

//Успех:
$color-success-light: #7ff4dc;
$color-success: #1de9b6;
$color-success-darker: #4aedc4;

