$font-primary-light: #637bfe; // Для
$color-font: #3d5afe; //Для контента
$color-font-darker: #2a3eb1; //Для заголовка

$font-Secondary-light: #1769aa;
$font-Secondary: #2196f3;
$font-Secondary-darker: #4dabf5;

//Тени для блока (НЕ МОДАЛКИ, ТУЛТИПА ПО ВЕРХ КОНТЕНТА)
$shadow-block: #7c88cc;
$shadow-block-hover: #5c6bc0;
$shadow-block-focus: #404a86;

$color-border: #2a3eb1;

$color-background-svg: $font-primary-light;
