@import "styles/colors";

.logo {
  height: 100%;
  width: auto;

  &_white {
    & > g > path {
      fill: #bbdefb !important;
    }
    > path {
      fill: $color-White !important;
    }
  }

  &__wrapper {
    display: flex;
    height: 100px;
  }

  &__copyright {
    display: flex;
    align-items: flex-end;
    color: $color-background-svg-darker;

    transform: translateX(-15px);

    > svg {
      width: 100%;
      height: 30%;
    }

    &_white {
      color: $color-White;
    }
  }
}