@import "styles/colors";

.select {
  & fieldset {
    border-color: $color-border;
  }

  &:hover {
    & fieldset {
      border-color: $color-border-hover !important;
    }
  }
}

.inputLabel {
  background-color: #fff;
  padding-right: 4px !important;
}